@charset "utf-8";
 
.footer_wrap{padding-bottom:20px;}
.footer_wrap .footer_full_banner_wrap{ background-color:#9eaeb7;}
.footer_wrap .footer_util_wrap{overflow: hidden;}
.footer_wrap .footer_util_con{font-size:0; line-height:0; float:left; margin-top:20px; margin-bottom:20px; text-align: center; width:100%;}
.footer_wrap .footer_util_item{font-size:16px; font-size:1.6rem; line-height:22px; line-height:2.2rem; letter-spacing: -0.035em; color:#fff; font-weight:500; text-align: center;
    display:inline-block; vertical-align: middle; margin-right:40px; box-sizing: border-box;}
.footer_wrap .footer_util_item:last-child{margin-right:0;}
.footer_wrap .footer_counselbtn_con{float:right; width:100%;}
.footer_wrap .footer_counselbtn{font-size:16px; font-size:1.6rem; line-height:22px; line-height:2.2rem; letter-spacing: -0.035em; color:#fff; font-weight:500; text-align: center;
    display:inline-block; vertical-align: middle; padding-top:18px; padding-bottom:18px; width:100%; box-sizing: border-box; background-color:#0568ee;
    background-image: none; background-repeat: no-repeat; background-position: left 25px center; padding-left:25px;}
.footer_wrap .footer_info_wrap{overflow: hidden; padding-top:35px;}
.footer_wrap .footer_logo_con{float:left; margin-top:0px;}
.footer_wrap .footer_desc_con{overflow: hidden; padding-left:20px; box-sizing: border-box;}
.footer_wrap .footer_desc{font-size:14px; font-size:1.2rem; line-height:20px; line-height:2.0rem; letter-spacing: -0.025em; color:#333333; font-weight:300; margin-bottom:0px;}
.footer_wrap .footer_copy{font-size:11px; font-size:1.1rem; line-height:17px; line-height:1.7rem; color:#7d7d7d; font-weight:300;}


@media all and (min-width:992px){
    .footer_wrap .footer_util_con{margin-top:20px; margin-bottom:0; width:auto;}
    .footer_wrap .footer_counselbtn_con{float:right; width:163px;}
    .footer_wrap .footer_counselbtn{margin-right:40px; background-image: url('../img/footer_counsel_icon.png'); padding-top:20px; padding-bottom:22px;}
}