<section  >

<div class="wrapper" ng-view>
    <div class="w100 header_wrap over-visible" style="height: 400px;">
        <div class="w100 col-center mw1210 visua_contents_wrap over-visible">
            <div class="w100 pr15 pl15">
               <div class="w100 visual_wrap">
                    <div class="h_desc2">
                        <br><br>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
                    </div>
                </div>
            </div>
        </div>
        <div class="main_visual_slide_wrap" style="height: 400px;">
            <div class="main_visual_slide_con swiper-container" style="top: 50px;">
                <div class="main_visual_slide_list swiper-wrapper">
                    <!--<div class="main_visual_img_000 swiper-slide"></div>-->
                    <div class="main_visual_img_001 swiper-slide"></div>
                </div>
                <div class="swiper-button-wrap show-block tc">
                    <div class="swiper-button-con show mw1920">
                        <!--<div class="swiper-button-prev slide_arrow left"></div>-->
                        <!--<div class="swiper-button-next slide_arrow right"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w100 main_section value_section" style="margin-top: 30px;">
        <div class="w100 col-center mw1210">
            <div class="w100">
                <!--
                <div class="section_header">
                    <h3 class="font_pop">
                        MedySapiens Value
                    </h3>
                </div>
                -->
            </div>
        </div>
        <div class="w100 value_category_contents_wrap type_1">
            <div class="w100 col-center mw1210">
                <div class="w100">
                    <div class="w100 value_category_contents_con">
                        <div class="w50 col-sm-3 value_category_contents_list mb20 mb-sm-0">
                            <div class="img_box">
                                <div class="show-tablecell vm">
                                    <img src="/modules/core/client/img/value_icon_000.png">
                                </div>
                            </div>
                            <!--
                            <div class="text_box">
                                Big Data<br/>
                            </div>
                            -->
                        </div>
                        <div class="w50 col-sm-3 value_category_contents_list mb20 mb-sm-0">
                            <div class="img_box">
                                <div class="show-tablecell vm">
                                    <img src="/modules/core/client/img/value_icon_001.png">
                                </div>
                            </div>
                            <!--
                            <div class="text_box">
                                Genomics<br/>
                            </div>
                            -->
                        </div>
                        <div class="w50 col-sm-3 value_category_contents_list">
                            <div class="img_box">
                                <div class="show-tablecell vm">
                                    <img src="/modules/core/client/img/value_icon_002.png">
                                </div>
                            </div>
                            <!--
                            <div class="text_box">
                                Artificial Intelligence<br/>
                            </div>
                            -->
                        </div>
                        <div class="w50 col-sm-3 value_category_contents_list">
                            <div class="img_box last">
                                <div class="show-tablecell vm icon3_1">
                                    <img src="/modules/core/client/img/value_icon_003.png">
                                </div>
                                <!--
                                <div class="show-tablecell vm icon3_2" style="display: none; width: 228px; height:257px;" background-color: red;">
                                    
                                </div>
                                -->
                            </div>
                            <!--
                            <div class="text_box">
                                Personalized Care<br/>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w100 footer_wrap">
        <div class="w100 footer_info_wrap">
            <div class="w100 col-center mw1210">
                <div class="w100 pl180">
                    <div class="footer_logo_con">
                        <img src="/modules/core/client/img/logo.png" style="width: 170px; height: 37px" alt="MedySapiens">
                    </div>
                    <div class="footer_desc_con">
                        <div class="footer_desc">
                            Address : Rm 117, SNU Research Park Main Center, 1 Gwanak-ro, Gwanak-gu, Seoul, Korea, 08826
                        </div>
                        <div class="footer_copy">
                            Copyright 2018. MedySapiens. all rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</section>

