<section>

   <div  style = "margin-top:40px">

       	<form  ng-click = "keywordSearch()" >
        <div  class = "form-inline" align = center style = "margin-bottom: 20px">
       		<input type="text" id="kw" name="kw" class = "form-control" ng-model = "kw" ng-required= "true" ng-minlength = "1" autofocus placeholder="Keyword" style = "width:200px">  <button type="submitt"  class = "btn btn-outline-secondary" >검색</button>
		
	          <!--<p style="color:red"  >{{noKeyword}} </p>-->
	                                 
	</div>
        </form>

	<div ng-show = "searchData" class="mt-5">
	

 	<table class="table table-bordered table-responsive-md table-striped text-center">
               <thead>
		 <tr>
	            <th class="text-center">NO.</th>
                    <th class="text-center">DRUG GROUP</th>
                    <th class="text-center">GENE</th>
                    <th class="text-center">PHENOTYPE</th>
	    	    <th class="text-center">ACTIVITY SCORE</th>
		    <th class="text-center">GENOTYPE</th>
                    <th class="text-center">EX DIPLOTYPE</th>
		    <th class="text-center">IMPLICATION</th>
		    <th class="text-center">THERAPH RECOMMEND</th>
                    <th class="text-center">RECOM CLASS</th>
                    <th class="text-center">OTHER RECOM CLASS</th>
                    <th class="text-center">OTHER RECOM TYPE</th>
                    
                </tr>
	       </thead>
			
		<tbody ng-repeat = "(DG, other) in mData | groupBy:'DRUG_GROUP' track by $index">
			<tr>
			<td class ="pt-3-half" contenteditable="true"  rowspan = "{{other.length+1}}">{{$index+1}}</td> 
			<td class ="pt-3-half" contenteditable="true"   rowspan = "{{other.length+1}}"> {{DG}}</td>
			<tr ng-repeat = "item in other">
			        	 <td class="pt-3-half" contenteditable="true">{{item.GENE_NM}}</td>
				           <td class="pt-3-half" contenteditable="true">{{item.PHENOTYP}}</td>
			                   <td class="pt-3-half" contenteditable="true" ><div ng-if = "item.ACTIVITY_SCORE != 'NULL'">{{item.ACTIVITY_SCORE}}</div></td>
					  <td class="pt-3-half" contenteditable="true"><div  ng-click = "modalOpen({index:item.INDEX})"> <a style="color: inherit; text-decoration: underline;"  >{{item.GENOTYP}}</a></div></td>
					  
                   	 		   <td class="pt-3-half" contenteditable="true"><div  ng-click = "modalOpen({index:item.INDEX})"><a style="color: inherit; text-decoration: underline;">{{item.EX_DIPLOTYP}}</a></div></td>
			                   <td class="pt-3-half" contenteditable="true">{{item.IMPLICATION}}</td>
			                   <td class="pt-3-half" contenteditable="true">{{item.THERAPY_RECOM}}</td>
			                   <td class="pt-3-half" contenteditable="true">{{item.RECOM_CLASS}}</td>
			                   <td class="pt-3-half" contenteditable="true">{{item.OTHER_RECOM_CLASS}}</td>
			                   <td class="pt-3-half" contenteditable="true">{{item.OTHER_RECOM_TYP}}</td>

				</tr>
			</tr>
		</tbody>
	</table>	



	
	</div> 
	</div>
 </section>
